<div class="wrapper">
  <div class="container">
    <h2>Colaboradores</h2>
    <p>Lista de Colaboradores do Lemaf</p>
    <div class="secao">
      <div class="secao-header">
        <input type="text" class="form-control col-md-4" placeholder="buscar">
      </div>
      <div class="secao-body secao-flex">
        <div *ngFor="let colaborador of colaboradores" class="card card-colaborador">
          <img class="card-img-top" src="{{colaborador.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{colaborador.nome}}</h5>
            <p class="card-text">Função: {{ colaborador.funcao.nome }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
